<div class="styleguide" style="margin: 2rem auto; padding-inline: 5vw">
  <section>Style Guide</section>

  <section>
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>
  </section>

  <section>
    <p>
      <strong>Paragraph body:</strong> Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Aliquam eius ea ab recusandae, perferendis modi enim
      alias non vero, eaque voluptatem? Minima, aliquam earum dolores voluptatem
      ducimus ipsum illum numquam? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quam molestias eaque, quo beatae veritatis culpa
      obcaecati accusamus totam ut, natus commodi repudiandae, recusandae sed!
      Eius quisquam sequi voluptatem aut placeat!
    </p>
  </section>
  <section>
    <p class="small">
      <strong>Small:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Aliquam eius ea ab recusandae, perferendis modi enim alias non vero,
      eaque voluptatem? Minima, aliquam earum dolores voluptatem ducimus ipsum
      illum numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quam molestias eaque, quo beatae veritatis culpa obcaecati accusamus totam
      ut, natus commodi repudiandae, recusandae sed! Eius quisquam sequi
      voluptatem aut placeat!
    </p>
  </section>
  <section>
    <p class="micro">
      <strong>Micro:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Aliquam eius ea ab recusandae, perferendis modi enim alias non vero,
      eaque voluptatem? Minima, Faliquam earum dolores voluptatem ducimus ipsum
      illum numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quam molestias eaque, quo beatae veritatis culpa obcaecati accusamus totam
      ut, natus commodi repudiandae, recusandae sed! Eius quisquam sequi
      voluptatem aut placeat!
    </p>
  </section>
  <section>
    <p>
      <em
      ><strong>Italic</strong> Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Necessitatibus dolor, error perspiciatis aliquid
        suscipit soluta consectetur doloribus, non nesciunt harum omnis
        cupiditate ducimus excepturi sapiente cumque id cum sequi ad.</em
      >
    </p>
  </section>
  <section>
    <div
      style="
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        margin-top: 50px;
      "
    >
      <h4 style="grid-column: 1 / span 3">Color Swatches</h4>
      <div class="swatch" style="background-color: var(--purple)"></div>
      <div class="swatch" style="background-color: var(--black)"></div>
      <div class="swatch" style="background-color: var(--grey)"></div>
    </div>
  </section>
</div>
