.mat-expansion-panel-body,
.mat-expansion-panel-header,
.mat-expansion-panel.mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing {
  background: #eff2f1;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-expansion-panel-header-title {
  font-size: 1.4em;
}

.grid {
  padding-bottom: 10px;
}
