<gmap-accordion [id]="'finance'" [title]="'Finance'" [expanded]="true">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1">
    <mat-grid-tile>
      <gmap-checkbox [labelPosition]="'before'" [label]="'Use generated MPM'"></gmap-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'seriesMPM'" [label]="'Series MPM #'" [placeholder]="''" [showInheritButton]="true"
                       [type]="'text'"></gmap-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'mpmPrefix'" [label]="'MPM # Prefix'" [placeholder]="''" [showInheritButton]="true"
                       [type]="'text'"></gmap-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'startingMPM'" [label]="'Starting MPM #'" [placeholder]="''" [showInheritButton]="true"
                       [type]="'text'"></gmap-form-field>
    </mat-grid-tile>

    <!--  Placeholder  -->
    @if (clientWidth > 1000) {
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    }

    <mat-grid-tile>
      <gmap-checkbox [labelPosition]="'before'" [label]="'Use generated catelog'"></gmap-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'catelog'" [label]="'Catelog'" [placeholder]="''" [showInheritButton]="true"
                       [type]="'text'"></gmap-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'opcProfitCenter'" [label]="'OPC Profit Center'" [placeholder]="''"
                       [showInheritButton]="true"
                       [type]="'text'"></gmap-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'opcCompanyCode'" [label]="'OPC Company Code'" [placeholder]="''"
                       [showInheritButton]="true"
                       [type]="'text'"></gmap-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <gmap-form-field [id]="'firstCommitDate'" [label]="'First Commit Date'" [placeholder]="'MM/DD/YYYY'"
                       [showInheritButton]="true"
                       [type]="'datepicker'"></gmap-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</gmap-accordion>
